<h1>Create a Circle</h1>

<form method="post" action="<%=circles_url%>">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  
  
    <label>
      Circle Name
      <input type = "text" name= "circle[name]" value= "<%=@circle.name%>">
    </label>
    
    
   <%User.all.each do |user|%>
   <% next if user == current_user %>
   <br>
    <label>
        <input type="checkbox" name="circle[user_ids][]" value = "<%=user.id%>">
        <%=user.email%>
    </label>
    <br>
  <%end%>
<input type='hidden' name="circle[user_ids][]" value='<%= current_user.id %>'>

<input type="submit" value="Create Circle!">
</form>
